---

---

<section class="min-h-screen flex items-center justify-center relative">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="parallax-bg h-full"
      style="background-image: url('../../img/fotos/paneles.jpeg');"
    >
    </div>
  </div>
  <div class="text-white text-center z-10">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Indaber</h1>
  </div>
</section>

<section class="py-20 text-center">
  <p class="text-xl text-white">Expertos en instalaciones electricas</p>
</section>

<section class="py-20 flex-1 md:flex items-center">
  <div class="text-center">
    <h2 class="text-3xl md:text-4xl font-semibold mb-4 text-white uppercase">
      Instalaciones para empresas y particulares
    </h2>
    <h3 class="text-4xl md:text-5xl font bold mb-4 text-white">
      Proyectos a medida
    </h3>
    <p class="text-xl text-white">
      Ya seas una empresa que quiere mejorar su consumo de la red electrica, o
      un particular que quiere tener autoconsumo.
    </p>
  </div>

  <div class="">
    <div class="">
      <img
        src="../../img/fotos/electricista.jpg"
        alt="Imagen de un electricista"
        class="max-w-full h-auto"
        loading="lazy"
      />
    </div>
  </div>
</section>

<section class="py-20 text-center">
  <p class="text-xl text-white">Prueba</p>
</section>

<style>
  .parallax-bg {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
