---

---

<section class="min-h-screen flex items-center justify-center relative">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="parallax-bg h-full"
      style="background-image: url('../../img/fotos/paneles.jpeg');"
    >
    </div>
  </div>
  <div class="text-white text-center z-10">
    <h1 class="text-4xl md:text-6xl font-bold mb-4">Indaber</h1>
  </div>
</section>

<section class="text-center bg-white">
  <p class="text-2xl text-blue-300 font-bold">
    Contamos con expertos en cada área
  </p>
  <p class="text-xl text-black font-semibold">
    Contamos con expertos en cada área, cubriendo todas las especialidades con
    nuestro equipo interno. Esto nos permite asegurar la excelencia en cada
    proyecto, al tiempo que proporcionamos un ahorro significativo de tiempo
    para nuestros clientes
  </p>
</section>

<section class="flex-1 md:flex items-center bg-black">
  <div class="text-center">
    <h2
      class="text-3xl md:text-4xl font-semibold mb-4 text-orange-500 uppercase"
    >
      Instalaciones para empresas y particulares
    </h2>
    <h3 class="text-2xl md:text-3xl font bold mb-4 text-white uppercase">
      Proyectos a medida
    </h3>
    <p class="text-xl text-white">
      Ya seas una empresa que quiere mejorar su consumo de la red electrica, o
      un particular que quiere tener autoconsumo para reducir su propio gasto.
    </p>
  </div>

  <div class="">
    <div class="">
      <img
        src="../../img/fotos/electricista.jpg"
        alt="Imagen de un electricista"
        class="max-w-full h-auto"
        loading="lazy"
      />
    </div>
  </div>
</section>

<section class="py-20 text-center bg-white">
  <p class="text-xl text-orange-500">Pide tu presupuesto YA!</p>
</section>

<style>
  .parallax-bg {
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
