---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <section class="min-h-screen flex items-center justify-center bg-gray-200">
    <div class="text-center">
      <h1 class="text-6xl font-bold mb-4 text-gray-800">404</h1>
      <p class="text-2xl text-gray-600">
        La página que intentas acceder no puede encontrarse.
      </p>
      <button
        class="mt-8 bg-black hover:bg-orange-500 text-white rounded-md px-4 py-2 text-sm uppercase"
      >
        <a href="/" class="font-semibold">Volver a la página de inicio</a>
      </button>
    </div>
  </section>
</Layout>
