<footer class="bg-white text-black p-10">
  <div
    class="container mx-auto flex flex-col text-center md:text-left md:flex-row md:justify-between"
  >
    <div class="flex-1 py-1 md:mb-0 inline-block md:inline">
      <img
        src="../../logoindaber.png"
        alt="Logo de Indaber"
        class="w-50 h-20 flex-1 inline-block md:inline"
        loading="lazy"
      />

      <p>
        Nuestra misión es impulsar la transición hacia un futuro más sostenible
        y energéticamente eficiente
      </p>
    </div>
    <div class="flex-1 py-1 md:mb-0 md:inline">
      <h2 class="text-lg font-semibold">Nuestro Servicios</h2>
      <ul class="lista-servicios">
        <li>Instalaciones eléctricas residenciales</li>
        <li>Instalaciones eléctricas comerciales</li>
        <li>Instalaciones de sistemas fotovoltaicos para viviendas</li>
        <li>Instalaciones de sistemas fotovoltaicos comerciales</li>
      </ul>
    </div>

    <div class="flex-1 py-1 md:mb-0 md:inline">
      <h2 class="text-lg font-semibold">Redes Sociales</h2>
      <ul>
        <li class="items-center">
          <a
            class="flex justify-center sm:justify-normal"
            href="https://www.facebook.com/Indaber-Ibiza-SL-168429223238664/"
          >
            <span class="rrss-icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                ><path
                  d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"
                ></path>
                <title>Visita nuestra página de facebook</title>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </div>
    <div class="flex-1 py-1 md:mb-0 inline-block md:inline">
      <h2 class="text-lg font-semibold">Contactanos</h2>
      <ul class="">
        <li class="">
          <a
            class="flex items-center justify-center sm:justify-normal hover:text-orange-500"
            title="Abrir mapa"
            href="https://www.google.com/maps/place/Indaber+Ibiza/@38.914103,1.429842,19z/data=!3m1!5s0x1299468f1d7d98d5:0xf5380d23d4e5c353!4m6!3m5!1s0x1299468f1d61abe7:0x8622feb0f5157ca7!8m2!3d38.914103!4d1.4304857!16s%2Fg%2F11xjhx0r5?entry=ttu"
          >
            <span class="list-icon mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                viewBox="0 0 24 24"
                fill="#F58426"
                class="icon icon-tabler icons-tabler-filled icon-tabler-location"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M20.891 2.006l.106 -.006l.13 .008l.09 .016l.123 .035l.107 .046l.1 .057l.09 .067l.082 .075l.052 .059l.082 .116l.052 .096c.047 .1 .077 .206 .09 .316l.005 .106c0 .075 -.008 .149 -.024 .22l-.035 .123l-6.532 18.077a1.55 1.55 0 0 1 -1.409 .903a1.547 1.547 0 0 1 -1.329 -.747l-.065 -.127l-3.352 -6.702l-6.67 -3.336a1.55 1.55 0 0 1 -.898 -1.259l-.006 -.149c0 -.56 .301 -1.072 .841 -1.37l.14 -.07l18.017 -6.506l.106 -.03l.108 -.018z"
                ></path>
              </svg>
            </span>
            <span class="list-text"> C/ Pere Francés 40, 07800 Ibiza</span>
          </a>
        </li>
        <li class="">
          <a
            class="flex items-center justify-center sm:justify-normal hover:text-orange-500"
            href="emailto:info@email.com"
            title="Enviar email"
          >
            <span class="list-icon mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                viewBox="0 0 24 24"
                fill="#F58426"
                class="icon icon-tabler icons-tabler-filled icon-tabler-mail"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z"
                ></path><path
                  d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z"
                ></path>
              </svg>
            </span>
            <span class="list-text">info@indaber.es</span>
          </a>
        </li>
        <li class="list-group">
          <a
            class="flex justify-center sm:justify-normal hover:text-orange-500"
            href="tel:(+34)12345678"
            title="Llamar"
          >
            <span class="list-icon mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                viewBox="0 0 24 24"
                fill="#F58426"
                class="icon icon-tabler icons-tabler-filled icon-tabler-phone"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 3a1 1 0 0 1 .877 .519l.051 .11l2 5a1 1 0 0 1 -.313 1.16l-.1 .068l-1.674 1.004l.063 .103a10 10 0 0 0 3.132 3.132l.102 .062l1.005 -1.672a1 1 0 0 1 1.113 -.453l.115 .039l5 2a1 1 0 0 1 .622 .807l.007 .121v4c0 1.657 -1.343 3 -3.06 2.998c-8.579 -.521 -15.418 -7.36 -15.94 -15.998a3 3 0 0 1 2.824 -2.995l.176 -.005h4z"
                ></path>
              </svg>
            </span>
            <span class="list-text">(+34) 971 306 537</span>
          </a>
        </li>
        <li>
          <a class="flex justify-center sm:justify-normal" title="Horario">
            <span class="list-icon mr-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="20"
                viewBox="0 0 24 24"
                fill="#F58426"
                class="icon icon-tabler icons-tabler-filled icon-tabler-clock"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-5 2.66a1 1 0 0 0 -.993 .883l-.007 .117v5l.009 .131a1 1 0 0 0 .197 .477l.087 .1l3 3l.094 .082a1 1 0 0 0 1.226 0l.094 -.083l.083 -.094a1 1 0 0 0 0 -1.226l-.083 -.094l-2.707 -2.708v-4.585l-.007 -.117a1 1 0 0 0 -.993 -.883z"
                ></path>
              </svg>
            </span>
            <span class="list-text">Lunes a Viernes 9:00-14:00</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>

<footer class="bg-gray-700 px-10 py-4 text-center text-sm">
  <div class="">
    <p>&copy; 2024 Indaber Ibiza. Todos los derechos reservados.</p>
    <div class="mt-2">
      <a href="/aviso-legal" class="text-gray-400 hover:text-white">
        Aviso Legal
      </a>
      <span class="mx-2">|</span>
      <a href="/politica-de-privacidad" class="text-gray-400 hover:text-white">
        Política de privacidad
      </a>
    </div>
  </div>
</footer>

<style>
  .lista-servicios li::before {
    content: "\2022";
    color: orange;
    font-size: 15px;
    width: 1em;
    margin-right: 2px;
  }
  .rrss-icon svg:hover {
    fill: #3b5998;
  }
</style>
