---

---

<form
  name="contacto"
  method="POST"
  data-netlify="true"
  class="text-white ml-5 py-5"
>
  <div class="mb-4">
    <label for="nombre">
      Nombre
      <span class="text-orange-500">*</span>
      <br />
    </label>
    <input type="text" id="nombre" name="nombre" required class="text-black" />
  </div>
  <div class="mb-4">
    <label for="apellidos">
      Apellido(s)
      <br />
    </label>
    <input type="text" id="apellidos" name="apellidos" class="text-black" />
  </div>
  <div class="mb-4">
    <label for="email">
      Correo electrónico
      <span class="text-orange-500">*</span>
      <br />
    </label>
    <input type="email" id="email" name="email" required class="text-black" />
  </div>
  <div class="mb-4">
    <label for="telefono">
      Teléfono
      <br />
    </label>
    <input type="text" id="telefono" name="telefono" class="text-black" />
  </div>
  <div class="mb-4">
    <label for="mensaje">
      Describa la consulta
      <span class="text-orange-500">*</span>
      <br />
    </label>
    <textarea rows="8" cols="60" id="mensaje" name="mensaje" class="text-black"
    ></textarea>
  </div>

  <button type="submit" value="Enviar" class="bg-slate-300 rounded px-2"
    >Enviar</button
  >
</form>
