---

---

<style>
  a {
    color: #ff9100;
    padding: 0rem 1rem;
    border-radius: 2px;
    transition:
      background-color 0.3s,
      color 0.3s;
  }

  a:hover {
    background-color: #c7c7c7;
    color: #ffa024;
    opacity: 90%;
  }

  .icon {
    width: 24px;
    height: 20px;
  }
</style>

<section class="bg-gray-300 p4 flex items-center justify-between">
  <div class="hidden md:flex space-x-4 ml-auto pr-20">
    <a
      href="tel:971306537"
      class="flex items-center font-semibold"
      title="Llamar a 123 456 789"
    >
      <img
        src="../../telephone.svg"
        alt="Icono de telefono"
        class="icon inline-block w-6"
      />
      123 456 789
    </a>

    <a
      href="mailto:info@email.com"
      class="flex items-center font-semibold"
      title="Enviar email"
    >
      <img
        src="../../mail.svg"
        alt="Icono de mensaje"
        class="icon inline-block"
      />
      info@email.com
    </a>
  </div>
</section>
